<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Login</h1>
    <div class="col-sm-4">
        <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-microsoft" href="/auth/microsoft" role="button">
            <i class="fab fa-microsoft"></i>
            Sign In with Microsoft
          </a>
        </div>
      </div>

      </div>
    </div> 

  </div>
</div>

<%- include('partials/footer') %>
