<%- include('partials/header') %>

<div class="container">
    <p class="secret-text">The Data Provided Is Invalid or Incorret!</p>
    <div class="container">
    <a class="btn btn-dark btn-lg mx-2 my-3" href="/project" role="button">Go To Project Page</a>
    </div>
    <div class="container">
      <a class="btn btn-light btn-lg mx-2 my-3" href="/logout" role="button">LogOut</a>
    </div>
</div>
</div>
<%- include('partials/footer') %>
